@use "../../../utilities/variables" as *;
@use "../../../utilities/mixin" as *;

.content-media {
  .description {
    width: 80%;
    margin: 0 auto 8rem;

    @include maxWidth($md) {
      margin-bottom: 2rem;
    }
  }

  .main-content {
    padding: 5rem;

    &.bg-content {
      background-color: #f2fcff;
    }

    .section-title {
      color: $primaryColor;
      margin-bottom: 1rem;
      text-transform: uppercase;
      @include resFont(2, 2.8);
    }

    p {
      position: relative;
      line-height: 1.5;

      &:not(:last-of-type)::before {
        content: "-";
        position: absolute;
        left: -1rem;
        color: #000;
      }
    }

    figure {
      border-radius: 2rem;
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        aspect-ratio: 10 / 9;
        object-fit: cover;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
      }
    }
  }
}
