@use '../../utilities/variables' as *;
@use '../../utilities/mixin' as *;

.section-branch {
    .branch-inner {
      margin: 0 auto;
      position: relative;
      max-width: 90rem;

      .branch-list {
        position: absolute;
        top: 10%;
        right: 50%;
        transform: translateX(50%);
        width: 100%;
        min-width: fit-content;
        max-width: max-content;;
        
        select {
          border: 1px solid #000;
          color: #000;
          cursor: pointer;
          @include resFont(1.4, 1.6);
        }
      }
    }
}