@use "../../utilities/variables" as *;
@use "../../utilities/mixin" as *;

.section-contact {
  padding: 3rem 0;
  margin: 2.5rem 0;
  
  .section-heading {
    text-align: center;
    color: $primaryColor;
    font-weight: bold;
    // margin-bottom: 2rem;
    position: relative;
  }

    .contact-image {
      height: 100%;
      max-height: 56.6rem;
      display: flex;
      align-items: center;
      
      img {
        aspect-ratio: 496/966;
        height: 100%;
        object-fit: contain;
        border-radius: 1rem;
      }
    }
    .contact-form {
      height: 100%;
      display: flex;
      flex-direction: column;

      form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 100%;

        label {
          font-weight: bold;
          margin-bottom: 0.5rem;
        }

        input[type="text"],
        input[type="email"],
        input[type="number"],
        input[type=tel],
        textarea {
          border: 1px solid $primaryColor;
          border-radius: 1rem;
          padding: 0.75rem 1rem;
          width: 100%;
          resize: none;
          @include resFont(1.6, 1.8);

          &:focus {
            border-color: #1baabf;
            box-shadow: none;
          }
        }

        .form-control {
          border: none;
          font-size: 1.5rem;
        }

        textarea {
          min-height: 80px;
          flex: 1;
        }

        input[type="submit"] {
          background-color: $primaryColor;
          border: none;
          border-radius: 1rem;
          color: white;
          padding: 0.75rem 1rem;
          width: 100%;
          font-weight: bold;
          transition: 0.3s ease;
          margin-top: auto;
          @include resFont(1.6, 1.8);

          &:hover {
            background-color: #3aa3b4;
          }
        }
      }
    }
}

.google-map {
  iframe {
    aspect-ratio: 16/9;
  }
}
