@use "./variables" as *;

@mixin minWidth($min-width) {
  @media only screen and (min-width: $min-width) {
    @content;
  }
}

@mixin maxWidth($max-width) {
  @media only screen and (max-width: $max-width) {
    @content;
  }
}

@mixin ulReset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@mixin limitLine($number) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $number;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin breakText {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@mixin resFont($min-size, $max-size, $important: false) {
  $font-size: #{$max-size}rem;

  @if $important {
    $font-size: #{$max-size}rem !important;
  }

  font-size: $font-size;

  @include maxWidth($lg) {
    $font-size: calc(#{$max-size}rem - ((#{$max-size}rem - #{$min-size}rem)) / 2);

    @if $important {
      $font-size: calc(#{$max-size}rem - ((#{$max-size}rem - #{$min-size}rem)) / 2) !important;
    }

    font-size: $font-size;
  }

  @include maxWidth($sm) {
    $font-size: #{$min-size}rem;

    @if $important {
      $font-size: #{$min-size}rem !important;
    }

    font-size: $font-size;
  }
}