$primaryFont: "Lato", sans-serif;
$headingFont: "UTM-AvoBold", sans-serif;

$primaryColor: #5EA5DB;
$secondaryColor: #FFCC29;
$headingColor: #0056b3;
$gradientColor: linear-gradient(90deg,#0274ba 0%,#49ace0 130%); 