@use '../../utilities/variables' as *;
@use '../../utilities/mixin' as *;

.product-card {
  
  figure {
    margin-bottom: -0.1rem;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    position: relative;
    overflow: hidden;
  }

  .product-info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1.6rem 1.6rem 0.6rem 1.6rem;
    background: #fff;
    text-align: center;
    min-height: 11rem;
    box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
  }

  .product-name {
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    line-height: 1.2;
    @include limitLine(2);
    @include resFont(1.4, 1.6);
  }

  .product-btn {
    color: $primaryColor;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.4;
    display: inline-block;
    font-weight: bold;
    @include limitLine(1);
    @include resFont(2, 2.4);
  }

  .product-btn:hover {
    color: $primaryColor;
  }

  .price {
    color: $primaryColor;
    font-weight: 600;
    text-transform: uppercase;
  }

  .product-name {
    a:hover {
      color: $primaryColor;
    }
  }
}