@use '../utilities/variables' as *;
@use '../utilities/mixin' as *;

header {
  transition: transform 0.3s ease, top 0.3s ease;
  position: relative;
  z-index: 999;
  background-color: #fff;

  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white; // hoặc background tùy bạn
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  &.is-hidden {
    transform: translateY(-100%);
  }

  .header-inner {
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav.pc-menu {
    min-width: 85%;

    ul {
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 2rem;
      list-style: none;
    }

    li {
      a {
        text-decoration: none;
        color: #000;
        font-weight: 500;
        transition: all 0.3s ease;
        
        @include resFont(1.6, 2.2);

        &:hover {
          color: $primaryColor;
        }
      }

      &.current-menu-item {
        a {
          color: $primaryColor;
          text-decoration: underline;
        }
      }

      &.menu-logo {
        img {
          max-height: 12rem;
        }
      }
    }
    
  }

  .ext-menu {
    position: relative;

    .ext-menu-inner {
      display: flex;
      align-items: center;
      column-gap: 3rem;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 100%;
        background-color: #000;
      }

      .search {
        button {
          background-color: transparent;
          border: none;
          outline: none;
          
        }

        img {
          height: 3rem;
        }
      }

      .cart {
        position: relative;

        a{
          display: flex;
          height: 100%;
          align-items: center;

          &:hover {
            color: $primaryColor;
          }
        }

        i {
          font-size: 2.4rem;
        }

        .cart-count {
          position: absolute;
          top: -1rem;
          right: -1rem;
          color: red;
          font-weight: 500;
        }
      }
    }
  }

  .menu-logo-mobile {
    img {
      max-height: 8rem;
    }
  }
}

#search-modal {
  &.show {
    display: flex !important;
    align-items: center;
  }

  .modal-dialog {
    width: 100%;
    max-width: 100%;
  }
}

.search-form {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;

  button[type="button"] {
    position: absolute;
    right: 0rem;
    top: -5rem;
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    border-radius: 50%;
    opacity: 1;
    z-index: 99999;
  }

  .input-search {
    position: relative;
    padding: 1.5rem 3rem;
    width: 100%;
    background-color: #fff;
    border-radius: 3rem;
    max-width: 50%;
    min-width: 35rem;
    z-index: 99999;
  }

  form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;

    input {
      padding: 0;
      border: none;
      outline: none;
      color: #000;
    }

    button[type="submit"] {
      background-color: transparent;
      border: none;
      outline: none;

      img {
        height: 2rem;
      }
    }
  }
}