@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;

.page-introduce {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 56.25%;
    display: flex;
    align-items: center;
    justify-content: center;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        .heading-wrapper {
            width: 70%;
            margin: auto;

            h2 {
                &::before,
                &::after {
                    content: none;
                }
            }

            p {
                color: #fff;
                font-size: 2.2rem;
                line-height: 1.6;
            }
        }
    }

    @media (max-width: 992px) {
        .overlay .heading-wrapper {
            width: 85%;

            p {
                font-size: 1.8rem;
            }
        }
    }

    @media (max-width: 576px) {
        .overlay .heading-wrapper {
            width: 100%;

            p {
                font-size: 1.6rem;
            }
        }
    }
}

.section-overview {
    margin-top: 3rem;
    margin-bottom: 0 !important;
}

.intro-section {
    width: 100%;
    padding: 15rem 2rem;
    color: #fff;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    border-radius: 0 0 4rem 4rem;
    box-shadow: 0 1.4rem 2rem rgba(0, 0, 0, 0.8);

    .intro-content {
        width: 60% !important;
        margin: auto;

        .heading-wrapper {
            .section-heading {
                &::after {
                    background-color: #fff;
                }
            }
        }
    }

    @media (max-width: 992px) {
        .intro-content {
            width: 80% !important;

            .heading-wrapper p {
                font-size: 1.8rem;
            }
        }
    }

    @media (max-width: 576px) {
        .intro-content {
            width: 100% !important;

            .heading-wrapper p {
                font-size: 1.6rem;
            }
        }
    }
}

.intro-story {

    .section-title {
        color: $primaryColor;
        margin-bottom: 1rem;
        font-size: 2.8rem;
    }

    .content-item {
        text-align: justify;
    }

    p {
        font-size: 1.6rem;
        line-height: 1.7;
    }

    img {
        width: 85%;
        // aspect-ratio: 7 / 9;
        border-radius: 2rem;
        object-fit: cover;
        background: gainsboro;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    }

    @media (max-width: 768px) {
        .section-title {
            font-size: 2.2rem;
        }

        img {
            width: 90%;
            margin: 2rem auto;
        }
    }

    @media (max-width: 576px) {
        .section-title {
            font-size: 2rem;
        }

        .text-center {
            height: 0px;
        }

        img {
            width: 0%;
            height: 0%;
        }
    }
}
