@use '../utilities/variables' as *;
@use '../utilities/mixin' as *;
@use 'sass:color';

.btn-hightlight {
  display: inline-block;
  padding: 5px 30px;
  background-color: #65bdd2;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  line-height: normal;
  white-space: nowrap;
  border: 1px solid transparent;
  cursor: pointer;
  @include resFont(1.4, 1.8);

  &:hover {
    background-color: #fff;
    color: $primaryColor;
    border: 1px solid $primaryColor;
  }

  &.bora-1 {
    border-radius: 1rem;
  }

  &.bora-2 {
    border-radius: 2rem;
  }
}

.custom-add-to-cart {
  margin: 1.5rem auto 2.5rem !important;
  padding: 0.8rem 3rem !important;
  display: inline-block !important;
  background-color: $secondaryColor !important;
  color: #fff !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  border-radius: 1rem !important;
  border: none !important;
  outline: none !important;
  cursor: pointer !important;
  position: relative;
  @include resFont(1.3, 1.6 ,true);

  @include maxWidth($lg) {
    padding: 0.6rem 1.5rem !important;
  }

  &::before {
    content: '';
    position: absolute;
    top: 20%;
    left: -1rem;
    width: 100%;
    height: 100%;
    border: 2px dashed #658080;
    border-radius: 1rem !important;
    z-index: -1;
  }
}