@use "../../utilities/variables" as *;
@use "../../utilities/mixin" as *;

.faq-card {
  border-radius: 2rem;
  margin: 1.5rem 0;

  h3 {
    color: $primaryColor;
    @include resFont(1.8, 2.3);
  }

  .faq-item {
    .faq-question {
      color: $primaryColor;
      @include resFont(1.8, 2.3);
    }
    
    .faq-answer {
      color: #333;
      @include resFont(1.8, 2.3);
    }
  }
}
