@use "../../utilities/variables" as *;
@use "../../utilities/mixin" as *;

.brand-section {
  text-align: center;

  .logo-slider {
    width: 100%;
    overflow: hidden;

    .swiper-wrapper {
      .swiper-slide {
        background-color: $primaryColor;
        border-radius: 2rem;
        padding: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        height: 100%;
      }
    }

    .loop-image {
      a img {
        width: 100%;
        aspect-ratio: 20 / 9;
        object-fit: contain;
      }
    }

    .swiper-pagination {
      margin-top: 2rem;
      position: relative;
      display: block;

      .swiper-pagination-bullet {
        position: relative;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 2px solid #7cc1d2;
        background-color: transparent;
        opacity: 0.3;
        margin: 0 5px;
        transition: all 0.3s ease;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 100%;
          transform: translateY(-50%);
          width: 5rem;
          height: 1px;
          background-color: #7cc1d2;
          opacity: 0;
          transition: all 0.3s ease;
        }
      }

      .swiper-pagination-bullet-active {
        opacity: 1;
        margin-right: 4.5rem;
        background: #7cc1d2;

        &::after {
          opacity: 1;
        }
      }
      .swiper-pagination-bullet:last-child::after {
        display: none;
      }
    }
  }
}
