@use '../../utilities/variables' as *;
@use '../../utilities/mixin' as *;

.section-overview {
  background-color: $primaryColor;
  box-shadow: 7px 7px 13px rgba(0, 0, 0, 0.75);

  @include maxWidth($md) {
    padding-bottom: 0;
  }

  .overview-item {

    .overview-icon {
      margin-bottom: 1rem;

      img {
        width: 100%;
        height: 100%;
        max-height: clamp(5rem, 10vw, 8rem);
        object-fit: contain;
      }
    }

    .overview-content {
      color: #fff;
    }

    .overview-title {
      font-weight: bold;
      @include resFont(2.5, 4);
    }

    .overview-text {
      margin-bottom: 0;
      font-weight: bold;
      line-height: 1.2;
      @include resFont(1.6, 2);
    }
  }
}
