@use '../../utilities/variables' as *;
@use '../../utilities/mixin' as *;

.service-page {
  .section-service.frame-shadow {
    background-color: unset;
    box-shadow: unset;
  }
}

.section-service {
  .row>* {
    padding-top: calc(var(--bs-gutter-x) * .5);
    padding-bottom: calc(var(--bs-gutter-x) * .5);
  }
}