@use '../../utilities/variables' as *;
@use '../../utilities/mixin' as *;

.section-testimonials {
  iframe {
    width: 100%;
    @include aspectRatio(6/5);
    object-fit: cover;
    border-radius: 2.4rem;
  }

  .testimonials-content {
    color: #fff;
    text-align: center;
  }

  .testimonials-title {
    @include resFont(2, 3);
    @include limitLine(2);
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: bold;
  }

  .testimonials-description {
    @include resFont(1.4, 1.8);
    @include limitLine(5);
    margin-bottom: 1rem;
  }

  .testimonials-review {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;

    img {
      width: 20rem;
    }
  }

  .testimonials-profile {
    img {
      width: 8rem;
      margin-bottom: 1rem;
      object-fit: contain;
    }

    h3 {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
