@use "../../utilities/variables" as *;
@use "../../utilities/mixin" as *;

.banner-shoroom {
    background: url("../assets/images/Asset_1.png") center center / cover no-repeat;
    width: 100%;
    aspect-ratio: 25 / 9;
    object-fit: cover;
    margin-bottom: 5rem;
}
