/wp-admin/
/wp-includes/
/wp-content/uploads/
/wp-content/upgrade/
/wp-content/cache/
/wp-content/languages/

wp-config.php
wp-config-sample.php
index.php
license.txt
readme.html
testdb.php
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
wp-login.php
xmlrpc.php
local-xdebuginfo.php
