@use "../../utilities/variables" as *;
@use "../../utilities/mixin" as *;

.loop-highlight {
  &:hover {
    img {
      transform: scale(1.1);
    }

    .loop-heading {
      color: $primaryColor;
    }
  }

  .loop-inner {
    margin-bottom: 25px;
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
  }

  figure {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }

  img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  .loop-heading {
    padding: 1.5rem 1.5rem 2rem;
    text-align: center;
    font-weight: 700;
    color: #000;
    @include breakText;
    @include limitLine(2);
    @include transition;
  }

  .btn-hightlight {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(50%);
  }
}
