@use "../../utilities/variables" as *;
@use "../../utilities/mixin" as *;

.loop-post {
    img {
        aspect-ratio: 558/500;
        object-fit: cover;
        object-position: center;
    }

    .post-content {
        padding: 1.5rem 2rem;
        text-align: center;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
    }

    .post-title {
        font-weight: 600;
        text-transform: uppercase;
        @include resFont(1.8, 2.2);
        @include limitLine(2);

        &.color-primary a {
            color: $primaryColor;
        }
    }
}